@use "common";
// メディアクエリ-----------------------------------
$breakpoints: (
  //キー　　値
  "s": "screen and (max-width: 699px)",
  "m": "(min-width: 700px) and (max-width: 899px)",
  "l": "(min-width: 900px) and (max-width: 1199px)",
  "xl": "screen and (min-width: 1200px)"
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// font-family: "Noto Serif JP", serif;

// header----------------------------------------------
.header {
  height: 60px;
  background-color: #ffffff;
  position: relative;
  z-index: 999;
  @include mq(l) {
    height: 70px;
  }
  @include mq(xl) {
    height: 70px;
  }
  .inner {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    @include mq(m) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq(l) {
      max-width: calc(1200px + 40px * 2);
      padding-left: 40px;
      padding-right: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(xl) {
      padding-left: 40px;
      padding-right: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    .header-logo {
      width: 120px;
      height: 22px;
      margin-right: auto;
      img {
        width: 100%;
      }
    }
    .header-nav {
      display: none;
      @include mq(l) {
        display: flex;
        align-items: center;
        gap: 46px;
      }
      @include mq(xl) {
        display: flex;
        align-items: center;
        gap: 46px;
      }
      .header-nav-link {
        font-family: "Noto Serif JP", serif;
        font-size: 16px;
        font-weight: 300;
        line-height: calc(27 / 16);
        color: #333333;
        transition: opacity 0.3s;
        &:hover{
          opacity: 0.6;
        }
      }
    }
    .hamburger {
      width: 30px;
      height: 18px;
      position: relative;
      @include mq(l) {
        display: none;
      }
      @include mq(xl) {
        display: none;
      }
      &-bar {
        width: 100%;
        height: 2px;
        background-color: #3ea1d1;
        transition: transform 0.3s;
        position: absolute;
        &:first-child {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:last-child {
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.hamburger{
  &.active{
    height: 30px;
    .hamburger-bar{
      &:first-child{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(44.93deg);
      }
      &:nth-child(2){
        display: none;
      }
      &:last-child{
        top: 50%;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-44.93deg);
      }
    }
  }
}
// drawer------------------------------------------------
.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  width: calc(270px / 375px * 100%);
  padding-top: calc(60px + 40px);
  padding-right: max(15px, 4%);
  background-color: #3ea1d1;
  transform: translateX(100%);
  transition: transform 0.3s;
  @include mq(l) {
    display: none;
  }
  @include mq(xl) {
    display: none;
  }
  .drawer-nav {
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    .drawer-nav-link {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      font-family: "Noto Serif JP", serif;
      font-size: 18px;
      font-weight: 300;
      line-height: calc(31 / 18);
      color: #ffffff;
      transition: opacity 0.3s;
      &:hover{
        opacity: 0.6;
      }
    }
  }
}

.drawer{
  &.active{
    transform: translateX(0);
  }
}

// fv------------------------------------------------
.fv {
  .inner {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mq(m) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq(l) {
      padding-left: 0;
      padding-right: 40px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
    }
    @include mq(xl) {
      padding-left: 0;
      padding-right: 40px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
    }
    .fv-img-container{
      overflow-y: hidden;
      position: relative;
      aspect-ratio: 345 / 414;
      max-height: 620px;
      @include mq(m) {
        max-height: 780px;
      }
      @include mq(l) {
        overflow: visible;
        position: static;
        aspect-ratio: auto;
        max-height: none;
      }
      @include mq(xl) {
        overflow: visible;
        position: static;
        aspect-ratio: auto;
        max-height: none;
      }
      .fv-img {
        width: 100%;
        aspect-ratio: 345 / 414;
        position: absolute;
        bottom: 0;
        @include mq(l) {
          aspect-ratio: 990 / 660;
          width: calc(990px / 1240px * 100%);
          margin-left: auto;
          position: static;
        }
        @include mq(xl) {
          aspect-ratio: 990 / 660;
          width: calc(990px / 1240px * 100%);
          margin-left: auto;
          position: static;
      }
      img {
        width: 100%;
      }
    }
  }
    .fv-textArea-container {
      @include mq(l) {
        aspect-ratio: 366 / 318;
        width: calc(366px / 1280px * 100%);
        min-width: 346px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include mq(xl) {
        width: calc(366px / 1280px * 100%);
        min-width: 346px;
        aspect-ratio: 366 / 318;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fv-textArea {
        .fv-catch {
          font-family: "Noto Serif JP", serif;
          font-size: 26px;
          font-weight: 600;
          line-height: calc(44 / 26);
          color: #333333;
          margin-bottom: 16px;
          @include mq(m) {
            font-size: 28px;
          }
        }
        .fv-description {
          font-family: "Noto Serif JP", serif;
          font-size: 16px;
          font-weight: 300;
          line-height: calc(27 / 16);
        }
      }
    }
  }
}

// concept--------------------------------------
.concept {
  padding-top: 96px;
  @include mq(l) {
    padding-top: 160px;
  }
  @include mq(xl) {
    padding-top: 160px;
  }
  .inner {
    padding-left: 15px;
    padding-right: 15px;
    @include mq(m) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq(l) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: calc(1200px + 40px * 2);
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(xl) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: calc(1200px + 40px * 2);
      margin-left: auto;
      margin-right: auto;
    }
    .concept-container {
      margin-top: 74px;
      display: flex;
      flex-direction: column;
      gap: 34px;
      @include mq(l) {
        margin-top: 89px;
        flex-direction: row;
        align-items: center;
        gap: 40px;
      }
      @include mq(xl) {
        margin-top: 89px;
        flex-direction: row;
        align-items: center;
        gap: 80px;
      }
      .concept-img {
        aspect-ratio: 345 / 230;
        @include mq(l) {
          aspect-ratio: 600 / 400;
          width: 600px;
        }
        @include mq(xl) {
          aspect-ratio: 600 / 400;
          width: 600px;
        }
        img {
          width: 100%;
        }
      }
      .concept-textArea {
        @include mq(l) {
          width: 520px;
          flex-grow: 1;
        }
        @include mq(xl) {
          width: 520px;
        }
        .concept-catch {
          font-family: "Noto Serif JP", serif;
          font-size: min(20px, 5.66vw);
          font-weight: 600;
          line-height: calc(34 / 20);
          color: #333333;
          margin-bottom: 22px;
          @include mq(m) {
            font-size: 22px;
          }
          @include mq(l) {
            margin-bottom: 40px;
          }
          @include mq(xl) {
            margin-bottom: 40px;
          }
        }
        .concept-description {
          font-family: "Noto Serif JP", serif;
          font-size: 16px;
          font-weight: 300;
          line-height: calc(27 / 16);
          color: #333333;
        }
      }
    }
  }
}

// feature--------------------------------------
.feature {
  padding-top: 96px;
  padding-bottom: 96px;
  @include mq(l) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  @include mq(xl) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .inner {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    @include mq(m) {
      max-width: min(700px, 80vw);
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq(l) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: calc(1200px + 40px * 2);
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(xl) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: calc(1200px + 40px * 2);
      margin-left: auto;
      margin-right: auto;
    }
    .feature-container {
      margin-top: 74px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      @include mq(l) {
        margin-top: 89px;
        flex-direction: row;
        gap: 50px;
      }
      @include mq(xl) {
        margin-top: 89px;
        flex-direction: row;
        gap: min(90px, 7.1vw);
      }
      .feature-item {
        box-shadow: 3px 3px 15px 0px #60606029;
        .feature-item-img {
          img {
            width: 100%;
          }
        }
        .feature-item-title {
          padding-top: 26px;
          padding-bottom: 26px;
          color: #333333;
          font-family: "Noto Serif JP", serif;
          font-size: 16px;
          font-weight: 600;
          line-height: calc(27 / 16);
          text-align: center;
          @include mq(m) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

// idea-------------------------------------------------
.idea {
  position: relative;
  .inner {
    .idea-img-container {
      overflow-y: hidden;
      max-height: 550px;
      @include mq(m) {
        max-height: 600px;
      }
      @include mq(l) {
        max-height: 600px;
      }
      @include mq(xl) {
        max-height: 600px;
      }
      .idea-img {
        position: relative;
        width: 100%;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #0000001f;
        }
        img {
          aspect-ratio: 375 / 490;
          width: 100%;
          @include mq(l) {
            aspect-ratio: 1280 / 478;
          }
          @include mq(xl) {
            aspect-ratio: 1280 / 478;
          }
        }
      }
    }
    .idea-textarea {
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      bottom: min(50px, 10.205%);
      @include mq(m) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @include mq(l) {
        padding-left: 50px;
        padding-right: 50px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        left: max(0px, calc(50% - 640px));
      }
      @include mq(xl) {
        padding-left: 40px;
        padding-right: 40px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        left: max(0px, calc(50% - 640px));
      }
      .idea-title {
        font-family: "Noto Serif JP", serif;
        font-size: 20px;
        font-weight: 600;
        line-height: calc(34 / 20);
        color: #ffffff;
        margin-bottom: 24px;
        @include mq(m) {
          font-size: 22px;
        }
        @include mq(l) {
          font-size: 22px;
          line-height: calc(37 / 22);
        }
        @include mq(xl) {
          font-size: 22px;
          line-height: calc(37 / 22);
        }
      }
      .idea-description {
        font-family: "Noto Serif JP", serif;
        font-size: 14px;
        font-weight: 600;
        line-height: calc(24 / 14);
        color: #ffffff;
        @include mq(m) {
          font-size: 16px;
        }
        @include mq(l) {
          font-size: 16px;
          line-height: calc(27 / 16);
        }
        @include mq(xl) {
          font-size: 16px;
          line-height: calc(27 / 16);
        }
      }
    }
  }
}

// products------------------------------------------
.products {
  padding-top: 96px;
  @include mq(l) {
    padding-top: 160px;
  }
  @include mq(xl) {
    padding-top: 160px;
  }
  .inner {
    padding-left: 56px;
    padding-right: 56px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    @include mq(m) {
      max-width: min(700px, 80vw);
      padding-left: 71px;
      padding-right: 71px;
    }
    @include mq(l) {
      max-width: calc(940px + 120px * 2);
      margin-left: auto;
      margin-right: auto;
padding-left: 120px;
padding-right: 120px;
    }
    @include mq(xl) {
      max-width: calc(940px + 170px * 2);
      margin-left: auto;
      margin-right: auto;
      padding-left: 170px;
      padding-right: 170px;
    }
    .products-container {
      margin-top: 74px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-bottom: 42px;
      @include mq(l) {
        margin-top: 89px;
        flex-direction: row;
gap: 40px;
        margin-bottom: 44px;
      }
      @include mq(xl) {
        margin-top: 89px;
        flex-direction: row;
        gap: min(80px, 6.3vw);
        margin-bottom: 44px;
      }
      .products-item {
        transition: opacity 0.3s;
        &:hover{
          opacity: 0.7;
        }
        @include mq(l) {
          width: calc(260px / (940px - 40px * 2) * 100%);
          flex-grow: 1;
        }
        @include mq(xl) {
          width: calc(260px / (940px - 80px * 2) * 100%);
        }
        .products-item-img {
          margin-bottom: 20px;
          @include mq(l) {
            margin-bottom: 18px;
          }
          @include mq(xl) {
            margin-bottom: 18px;
          }
          img {
            aspect-ratio: 263 / 263;
            width: 100%;
          }
        }
        .products-item-textArea {
          .products-item-title {
            font-family: "Noto Serif JP", serif;
            font-size: 14px;
            font-weight: 300;
            line-height: calc(24 / 14);
            color: #333333;
            margin-bottom: 10px;
          }
          .products-item-price {
            font-family: "Noto Serif JP", serif;
            font-size: 14px;
            font-weight: 300;
            line-height: calc(24 / 14);
            color: #989898;
          }
        }
      }
    }
  }
}

// news--------------------------------------------
.news {
  padding-top: 96px;
  padding-bottom: 96px;
  @include mq(l) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  @include mq(xl) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .inner {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    @include mq(m) {
      max-width: 700px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq(l) {
      max-width: calc(1040px + 70px * 2);
      padding-left: 70px;
      padding-right: 70px;
    }
    @include mq(xl) {
      max-width: calc(1040px + 120px * 2);
      padding-left: 120px;
      padding-right: 120px;
    }
    .news-container {
      margin-top: 74px;
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-bottom: 42px;
      @include mq(l) {
        margin-top: 89px;
        gap: 24px;
        margin-bottom: 44px;
      }
      @include mq(xl) {
        margin-top: 89px;
        gap: 24px;
        margin-bottom: 44px;
      }
      .news-item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 27px;
        border-bottom: 1px solid #e0e0e0;
        transition: opacity 0.3s;
        &:hover{
          opacity: 0.7;
        }
        @include mq(l) {
          flex-direction: row;
          gap: min(40px, 3.2vw);
          padding-bottom: 23px;
        }
        @include mq(xl) {
          flex-direction: row;
          gap: min(40px, 3.2vw);
          padding-bottom: 23px;
        }
      }
      .news-item-img {
        @include mq(l) {
          width: 260px;
          flex-shrink: 1;
        }
        @include mq(xl) {
          width: 260px;
          flex-shrink: 1;
        }
        img {
          aspect-ratio: 345 / 212.31;
          width: 100%;
          @include mq(l) {
            aspect-ratio: 260 / 160;
          }
          @include mq(xl) {
            aspect-ratio: 260 / 160;
          }
        }
      }
      .news-item-textarea {
        @include mq(l) {
          width: 736px;
          flex-shrink: 4;
        }
        @include mq(xl) {
          width: 736px;
          flex-shrink: 4;
        }
        .news-item-date {
          display: block;
          font-family: "Noto Serif JP", serif;
          font-size: 14px;
          font-weight: 300;
          line-height: calc(24 / 14);
          color: #333333;
          margin-bottom: 10px;
          @include mq(l) {
            margin-bottom: 16px;
          }
          @include mq(xl) {
            margin-bottom: 16px;
          }
        }
        .news-item-title {
          font-family: "Noto Serif JP", serif;
          font-size: 16px;
          font-weight: 600;
          line-height: calc(27 / 16);
          color: #333333;
          margin-bottom: 14px;
          @include mq(l) {
            font-size: 18px;
            line-height: calc(31 / 18);
            margin-bottom: 10px;
          }
          @include mq(xl) {
            font-size: 18px;
            line-height: calc(31 / 18);
            margin-bottom: 10px;
          }
        }
        .news-item-description {
          font-family: "Noto Serif JP", serif;
          font-size: 14px;
          font-weight: 300;
          line-height: calc(24 / 14);
          color: #888888;
        }
      }
    }
  }
}

// catch-----------------------------------------------
.catch {
  padding-bottom: 96px;
  @include mq(l) {
    padding-bottom: 160px;
  }
  @include mq(xl) {
    padding-bottom: 160px;
  }
  .inner {
    padding-left: 15px;
    padding-right: 15px;
    @include mq(m) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include mq(l) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: calc(1200px + 40px * 2);
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(xl) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: calc(1200px + 40px * 2);
      margin-left: auto;
      margin-right: auto;
    }
    .catch-container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include mq(l) {
        flex-direction: row-reverse;
        gap: 40px;
        align-items: center;
      }
      @include mq(xl) {
        flex-direction: row-reverse;
        gap: min(80px, 6.3vw);
        align-items: center;
      }
    }
    .catch-img {
      width: 100%;
      @include mq(l) {
        width: 600px;
        flex-shrink: 1.4;
      }
      @include mq(xl) {
        width: 600px;
      }
      img {
        width: 100%;
        aspect-ratio: 345 / 230;
        @include mq(l) {
          aspect-ratio: 600 / 400;
        }
        @include mq(xl) {
          aspect-ratio: 600 / 400;
        }
      }
    }
    .catch-textarea {
      @include mq(l) {
        width: 520px;
        flex-grow: 1;
      }
      @include mq(xl) {
        width: 520px;
      }
      .catch-title {
        font-family: "Noto Serif JP", serif;
        font-size: 20px;
        font-weight: 600;
        line-height: calc(34 / 20);
        color: #333333;
        margin-bottom: 22px;
        @include mq(l) {
          font-size: 28px;
          line-height: calc(48 / 28);
          margin-bottom: 36px;
        }
        @include mq(xl) {
          font-size: 28px;
          line-height: calc(48 / 28);
          margin-bottom: 36px;
        }
      }
      .catch-description {
        font-family: "Noto Serif JP", serif;
        font-size: 14px;
        font-weight: 300;
        line-height: calc(24 / 14);
        color: #333333;
        @include mq(l) {
          font-size: 16px;
          line-height: calc(27 / 16);
        }
        @include mq(xl) {
          font-size: 16px;
          line-height: calc(27 / 16);
        }
      }
    }
  }
}

// contact---------------------------------------
.contact {
  padding-top: 56px;
  padding-bottom: 56px;
  background-image: url("../img/contact/contact-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(l) {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/contact/contact-bg-l-xl.png");
  }
  @include mq(xl) {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/contact/contact-bg-l-xl.png");
  }
  .inner {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    @include mq(l) {
      padding-left: 0;
      padding-right: 0;
      max-width: 510px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(xl) {
      padding-left: 0;
      padding-right: 0;
      max-width: 510px;
      margin-left: auto;
      margin-right: auto;
    }
    .contact-container {
      margin-top: 74px;
      @include mq(l) {
        margin-top: 89px;
      }
      @include mq(xl) {
        margin-top: 89px;
      }
      .contact-caption {
        font-family: "Noto Serif JP", serif;
        font-size: 14px;
        font-weight: 600;
        line-height: calc(24 / 14);
        color: #333333;
        text-align: center;
        padding-left: 1.5px;
        margin-bottom: 28px;
        @include mq(l) {
          padding-left: 0;
          padding-right: 1px;
          margin-bottom: 19px;
        }
        @include mq(xl) {
          padding-left: 0;
          padding-right: 1px;
          margin-bottom: 19px;
        }
        .asterisk {
          color: #e7728e;
        }
      }
      .contact-form {
        .contact-form-main {
          display: flex;
          flex-direction: column;
          gap: 32px;
          .form-row {
            display: flex;
            flex-direction: column;
            gap: 3px;
            @include mq(l) {
              flex-direction: row;
              gap: 10px;
            }
            @include mq(xl) {
              flex-direction: row;
              gap: 10px;
            }
            .form-label {
              padding-top: 4px;
              padding-bottom: 4px;
              padding-left: 16px;
              padding-right: 16px;
              width: -webkit-fit-content;
              width: -moz-fit-content;
              width: fit-content;
              background-color: #3ea1d1;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;
              @include mq(l) {
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                width: 180px;
                height: 40px;
                -webkit-clip-path: polygon(97% 0, 100% 50%, 97% 100%, 0 100%, 0 0);
                        clip-path: polygon(97% 0, 100% 50%, 97% 100%, 0 100%, 0 0);
                flex-shrink: 0;
              }
              @include mq(xl) {
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                width: 180px;
                height: 40px;
                -webkit-clip-path: polygon(97% 0, 100% 50%, 97% 100%, 0 100%, 0 0);
                        clip-path: polygon(97% 0, 100% 50%, 97% 100%, 0 100%, 0 0);
                flex-shrink: 0;
              }
              .form-label-text {
                font-family: "Noto Serif JP", serif;
                font-size: 14px;
                font-weight: 600;
                line-height: calc(24 / 14);
                color: #ffffff;
                @include mq(l) {
                  font-family: "Noto Serif JP", serif;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: calc(31 / 18);
                }
                @include mq(xl) {
                  font-family: "Noto Serif JP", serif;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: calc(31 / 18);
                }
              }
              .asterisk {
                font-family: "Noto Serif JP", serif;
                font-size: 10px;
                font-weight: 600;
                line-height: calc(17 / 10);
                color: #e7728e;
                @include mq(l) {
                  font-size: 12px;
                  line-height: calc(17 / 12);
                }
                @include mq(xl) {
                  font-size: 12px;
                  line-height: calc(17 / 12);
                }
              }
            }
            .form-input {
              width: 100%;
              height: 40px;
              padding-left: 12px;
              padding-right: 12px;
              background-color: #ffffff;
              box-shadow: 5px 6px 16px 0px #60606029;
              &.textarea {
                height: 122px;
                padding-top: 12px;
                padding-bottom: 12px;
              }
            }

            .form-radioArea {
              display: flex;
              .radio {
                display: none;
                &:checked + .radio-label {
                  color: #ffffff;
                  background-color: #3ea1d1;
                }
              }
              .radio-label {
                width: 80px;
                height: 40px;
                border: 1px solid #ffffff;
                background-color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Noto Serif JP", serif;
                font-size: 16px;
                font-weight: 300;
                line-height: calc(27 / 16);
                letter-spacing: 0.0016em;
                color: #3ea1d1;
              }
            }
          }
        }
        .privacy-row {
          margin-top: 28px;
          margin-bottom: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          @include mq(l) {
            margin-top: 32px;
            margin-bottom: 44px;
          }
          @include mq(xl) {
            margin-top: 32px;
            margin-bottom: 44px;
          }
          .checkbox {
            display: none;
            &:checked + .checkbox-label{
              &::after{
                display: block;
              }
            }
          }
          .checkbox-label {
            width: 22px;
            height: 22px;
            border: 1px solid #3ea1d1;
            background-color: #ffffff;
            position: relative;
            &::after {
              content: "";
              display: none;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 19.41px;
              height: 14.62px;
              background-image: url("../img/contact/check.png");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
          .privacy-row-text {
            font-family: "Noto Serif JP", serif;
            font-size: 16px;
            font-weight: 300;
            line-height: calc(27 / 16);
            text-align: center;
            .privacy-row-text-link {
              color: #3ea1d1;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                bottom: 0.6px;
                left: 50%;
                width: 100%;
                height: 1px;
                transform: translate(-50%, -100%);
                background-color: #3ea1d1;
              }
            }
          }
        }
      }
    }
  }
}

// footer--------------------------------------------
.footer {
  padding-top: 40px;
  background-color: #f7f7f7;
  .inner {
    .footer-logo {
      width: 120px;
      height: 22px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 22px;
      img {
        width: 100%;
      }
    }
    .footer-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      margin-bottom: 18px;
      @include mq(l) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        margin-bottom: 20px;
      }
      @include mq(xl) {
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        margin-bottom: 20px;
      }
      .footer-nav-link {
        font-family: "Noto Serif JP", serif;
        font-size: 12px;
        font-weight: 300;
        line-height: calc(20 / 12);
        text-align: center;
        color: #333333;
        transition: opacity 0.3s;
        &:hover{
          opacity: 0.6;
        }
      }
    }
    .footer-snsList {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      margin-bottom: 23.8px;
      @include mq(l) {
        margin-bottom: 27.8px;
      }
      @include mq(xl) {
        margin-bottom: 27.8px;
      }
      .twitter {
        width: 21px;
        height: 21px;
      }
      .instagram {
        width: 18px;
        height: 22.2px;
      }
      .line {
        width: 18px;
        height: 19.2px;
      }
      .footer-snsList__item{
        transition: opacity 0.3s;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    .copylight {
      display: block;
      padding-bottom: 7px;
      font-family: "Noto Serif JP", serif;
      font-size: 12px;
      font-weight: 300;
      line-height: calc(20 / 12);
      text-align: center;
      color: #888888;
      @include mq(l) {
        padding-bottom: 14px;
      }
      @include mq(xl) {
        padding-bottom: 14px;
      }
    }
  }
}
